html, body {
   height: 100%;
}

body {
  text-align: center;
}

.chatroom {
  height: 100vh;
  background-color: #fafafa;
  padding: 1rem;
  position: fixed;
  padding-left: 20vh;
}
.chatroom h1{
  text-transform: capitalize;
}
.message{
  width: 80%;
  text-transform: capitalize;
  background-color: #fafafa;
}
.username {
  text-align: left;
  font-weight: bold;
}
.content{
  text-align: left;
}
.sent-at{
  font-style: italic;
}

.new-message{
  position: fixed;
  bottom: 0px;
}
.sidebar {
  width: 20%;
  height: 100vh;
  background: #979aa0;
  color: #000000;
}
.sidebar h1{
  text-align: center;
}
.sidebar li {
   text-align: left;
   text-transform: capitalize;
   background-color: #979aa0;
   padding-top: 1vh;
   padding-bottom: 1vh;
}
