<main class="container-fluid" ng-app="blocChat">
  <div class="row">
        <section class = "col-sm-3 sidebar">

          <h1>Bloc Chat</h1>

          <div ng-controller="ModalCtrl as modal">
            <button type="button" ng-click="modal.open()">
              New Room
            </button>
          </div>

          <ul ng-repeat="room in home.Rooms">

            <li ng-click="home.selectRoom(room)">
                {{ room.$value }}
              </li>
            </ul>

        </section>
        <section class ="col-sm-9 chatroom">
          <h1>{{home.currentRoom.$value}}</h1>
        <table class="table" ng-show"currentRoom">
          <tbody>
            <tr ng-repeat="message in home.messages">
              <td class="message">
                <p class = "username"> {{message.username}}:</p>
                <p class = "content"> {{message.content}}</p>
                <td class = "sent-at">{{message.sentAt}}</td>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
</main>
