<main class="container-fluid" ng-app="blocChat">
  <div class="row">
        <section class = "col-sm-3 sidebar">

          <h1>Bloc Chat</h1>

          <div ng-controller="ModalCtrl as modal">
            <button type="button" ng-click="modal.open()">
              New Room
            </button>
          </div>

          <ul ng-repeat="room in home.Rooms">

            <li ng-click="home.selectRoom(room)">
                {{ room.$value }}
              </li>
            </ul>

        </section>
        <section class ="col-sm-9 chatroom">
          <h1>{{home.currentRoom.$value}}</h1>
        <table class="table" ng-show"currentRoom">
          <tbody>
            <tr ng-repeat="message in home.messages">
              <td class="message">
                <p class = "username"> {{message.username}}:</p>
                <p class = "content"> {{message.content}}</p>
                <td class = "sent-at">{{message.sentAt | date:"shortTime"}}</td>
              </td>
            </tr>
          </tbody>
        </table>
        <div class = "row new-message" ng-show="home.currentRoom">
            <div class = "col-lg-12">
              <form class="input-group input-group-lg">
              <input type="text" class="form-control" name"input" ng-model="home.newMessage.content" placeholder="Type Message...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="home.sendMessage()">Enter</button>
              </span>
            </form>
            </div>
          </div>
      </section>
    </div>
</main>
